
.IndexPage {
  span {
    display: inline-block;
    animation: spin 0.5s linear infinite;
    animation-duration: 0.5s;
  }
}

@keyframes spin {
  0%   { transform: translate(0, -5px) rotate(0deg); }
  50%   { transform: translate(0, 0) rotate(-180deg); }
  100% { transform: translate(0, -5px) rotate(-360deg); }
}
